.DigitalSetup {
  width: 500px;
  margin: auto;
  height: 100%;
  overflow: scroll;
}

@media (min-width: 500px) and (min-height: 400px) {
  .DigitalSetup {
    width: 350px;
    height: 400px;
  }
}
@media (min-width: 1000px) and (min-height: 700px) {
  .DigitalSetup {
    width: 450px;
    height: 400px;
  }
}
